:root {
  --gap: 8px;
  --gap-2: calc(var(--gap) * 2);

  --bg-primary: rgb(100, 100, 100);
  --bg-secondary: hsl(0deg 0% 23%);

  --primary-color: hsl(162deg 100% 44%);

  --font-primary-color: hsl(0deg 0% 90%);
  --font-secondary-color: hsl(0deg 0% 75%);

  --main-font: 'helvetica';
}

* {
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box;
  
  font-size: 16px;

  color: var(--font-primary-color);
 

}

body {
  font-family: var(--main-font);
  
}

button {
  font-size: calc(10px + 2vmin);
}

.window-size {
  width: 100vw;
  overflow-x: scroll;
}

#content {
  /*the number of sections (camera, chats, etc) per 100vw*/
  width: 400vw;
  display: flex;
  flex-wrap: nowrap;
}

.bg-darkest {
  flex: 1 100vw;

  background-color: var(--bg-secondary);
  height: 100vh;
}

.bg-darkest div {
  background-color: var(--bg-secondary);
}

.pl {
  padding-left: var(--gap-2);
  padding-top: var(--gap);
}

/*
.u-hide {
  visibility: hidden;
}

.u-visible {
  visibility: visible;
}
*/